# Configurações do Banco de Dados MySQL
# Preencha com as informações da sua instância local
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=sua_senha_aqui
DB_NAME=intuitive_care

# Configurações de Scraping (Opcional)
ANS_SOURCE_URL=https://www.gov.br/ans/pt-br/acesso-a-informacao/perfil-do-setor/dados-abertos